{% extends "header.html" %}
{% block content %}

<div id="section-2">
  <div class="container pt-5">
      <div class="row">
          <div class="col-md-4">
              <hr>

              <h5 class="text-center text-white">Search Recipe</h5>

              <form action="/search" method="POST">

                  <input
                      type="text"
                      name="dish"
                      class="form-control"
                      placeholder="e.g. Chicken Biryani"
                      required>

                  <button
                      class="btn btn-success btn-block mt-2">
                      🔍 Search
                  </button>

              </form>
              
              <div class="wrapper">
              <div class="image">
                  <img id="foodimage"
                      onload="$(this).data('loaded', 'loaded');"
                      src="{{ url_for('static',filename=img)}}"
                      alt="">
                  

              </div>
              <div class="content">
                  <div class="icon text-center">
                    <i class="fas fa-cloud-upload-alt"></i>
                  </div>
                  <div class="text">
                      No file chosen, yet!
                  </div>
              </div>
              <div id="cancel-btn">
                  <i class="fas fa-times"></i>
              </div>
              <div class="file-name">
                  File name here
              </div>
              </div>
              <!-- The visual button the user clicks -->
<button onclick="defaultBtnActive()" id="custom-btn">Upload a Food Image</button>

<!-- Updated form pointing to the /predict route -->
<form id="foodimgform" action="/predict" method="POST" enctype="multipart/form-data">
  <!-- Added onchange="this.form.submit()" to auto-send the image -->
  <input id="default-btn" type="file" hidden name="imagefile" onchange="this.form.submit()">
</form> 
<p class="center-text">or</p>
<!-- Updated form pointing to the /predict route -->
<form id="foodimgform" action="/predict" method="POST" enctype="multipart/form-data">
  <!-- Added onchange="this.form.submit()" to auto-send the image -->
       <!-- <label for="serial_no"><b>Enter serial no :</b></label> -->
    <input type="text" id="food_name" name="food_name" placeholder="eg:- white sauce pasta" required>
    <input type="submit" id="custom-btn" class="button" value="Generate Recipe">
</form> 
<p class="center-text">or</p>
              <button id="buttonsample" data-toggle="modal" data-target="#myModal">Choose from Sample Image</button>
              <div class="modal" id="myModal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Sample Food Images</h5>
                      <button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                              <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <img src="{{ url_for('static',filename='images/sandwich.jpg') }}" class="card-img-top sample-img" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Sandwich</h5>
                                      <a href="/sample/sandwich" class="btn btn-primary" onclick="select('sandwich.jpg')">Select</a>
                                    </div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <img src="{{ url_for('static',filename='images/pasta.jpg') }}" class="card-img-top sample-img" alt="..." >
                                    <div class="card-body">
                                      <h5 class="card-title">Pasta</h5>
                                      <a href="/sample/pasta" class="btn btn-primary" onclick="select('pasta.jpg')" >Select</a>
                                    </div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <img src="{{ url_for('static',filename='images/biryani.jpg') }}" class="card-img-top sample-img" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Biryani</h5>
                                      <a href="/sample/biryani" class="btn btn-primary" onclick="select('biryani.jpg')">Select</a>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              
          </div>

  {% block home %}{% endblock %}

  {% endblock %}

