{% extends "layout.html" %}
{% block home %}
        
            <div id="info"  class="col-md-8">
                <div class="card text-center pb-2">
                    <div class="card-header">
                      <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                          <a class="nav-link active " id="tabbtn1" href="#" onclick="javascript:myFunctab1()">Recipe 1</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " id="tabbtn2" href="#" onclick="javascript:myFunctab2()">Recipe 2</a>
                        </li>
                      </ul>
                    </div>
                    <div id="tab1" >
                      <div class="card-body" align="left" id="result">
                        {% if title[0] != "Not a valid recipe!" %}
                          <h5 class="card-title" align='center'>{{title[0]}}</h5>
                          <br>
                          <h6>Ingredients :</h6>
                          <p class="card-text">{{', '.join(ingredients[0])}}</p>
                          <br>

                          <h6>Suggested Quantities :</h6>
                          <table class="table table-dark table-borderless mt-3">

                          <tr>

                          <th>Ingredient</th>

                          <th>Quantity</th>

                          </tr>

                          {% for item in nutrition1.ingredients %}

                          <tr>

                          <td>{{ item.name }}</td>

                          <td>{{ item.quantity }}</td>

                          </tr>

                          {% endfor %}

                          </table>
                          <br>

                          <h6>Recipe :</h6>
                          <ol class="pl-3">
                          {% for i in recipe[0] %}
                          <li class="card-text">{{i}}</li>
                          {% endfor %}
                          </ol>

                        {% else %}
                        <h5 class="card-title" align='center'>{{title[0]}}</h5>
                        <br>
                        <h6 class="card-text">{{recipe[0]}}</h6>
                        {% endif %}
                        <br>

                        <div class="nutrition-chart">

                            <canvas
                                id="macroChart1"
                                data-protein="{{ nutrition1.protein }}"
                                data-carbs="{{ nutrition1.carbs }}"
                                data-fat="{{ nutrition1.fat }}"
                                data-calories="{{ nutrition1.calories }}">
                            </canvas>

                        </div>

                        <h5>Nutrition Facts</h5>
                        <div class="nutrition-grid">

                            <div class="nutrition-item">

                                <span>🥩 Protein</span>

                                <strong>{{ nutrition1.protein }} g</strong>

                            </div>

                            <div class="nutrition-item">

                                <span>🍞 Carbs</span>

                                <strong>{{ nutrition1.carbs }} g</strong>

                            </div>

                            <div class="nutrition-item">

                                <span>🥑 Fat</span>

                                <strong>{{ nutrition1.fat }} g</strong>

                            </div>

                            <div class="nutrition-item">

                                <span>🌾 Fiber</span>

                                <strong>{{ nutrition1.fiber }} g</strong>

                            </div>

                        </div>

                        <div class="health-score">

                          ⭐ {{ nutrition1.healthy }}

                          <div class="progress mt-2">

                              <div
                                  class="progress-bar bg-success"
                                  style="width:{{ nutrition1.health_score * 10 }}%;">

                                  {{ nutrition1.health_score }}/10

                              </div>

                          </div>

                        </div>

                        <p>
                        Reason:
                        {{ nutrition1.reason }}
                        </p>

                        <h6>Make it Healthier</h6>

                        <ul>
                        {% for tip in nutrition1.healthier_version %}
                            <li>{{ tip }}</li>
                        {% endfor %}
                        </ul>
                        <p class="card-text"><small class="text-muted">Check both the Recipes</small></p>
                      </div>
                    </div>


                    <div  id="tab2" style="display:None">
                      <div class="card-body" align="left" id="result">
                        {% if title[1] != "Not a valid recipe!" %}
                          <h5 class="card-title" align='center'>{{title[1]}}</h5>
                          <br>
                          <h6>Ingredients :</h6>
                          <p class="card-text">{{', '.join(ingredients[1])}}</p>
                          <br>
                          <h6>Suggested Quantities :</h6>

                          <table class="table table-dark table-borderless mt-3">

                          <tr>

                          <th>Ingredient</th>

                          <th>Quantity</th>

                          </tr>

                          {% for item in nutrition2.ingredients %}

                          <tr>

                          <td>{{ item.name }}</td>

                          <td>{{ item.quantity }}</td>

                          </tr>

                          {% endfor %}

                          </table>
                          <br>

                          <h6>Recipe :</h6>
                          <ol class="pl-3">
                          {% for i in recipe[1] %}
                          <li class="card-text">{{i}}</li>
                          {% endfor %}
                          </ol>

                        {% else %}
                        <h5 class="card-title" align='center'>{{title[1]}}</h5>
                        <br>
                        <h6 class="card-text">{{recipe[1]}}</h6>
                        {% endif %}
                        <br>

                        <div class="nutrition-chart">

                            <canvas
                                id="macroChart2"
                                data-protein="{{ nutrition2.protein }}"
                                data-carbs="{{ nutrition2.carbs }}"
                                data-fat="{{ nutrition2.fat }}"
                                data-calories="{{ nutrition2.calories }}">
                            </canvas>

                        </div>

                        <h5>Nutrition Facts</h5>
                        <div class="nutrition-grid">
                            <div class="nutrition-item">
                                <span>🥩 Protein</span>
                                <strong>{{ nutrition2.protein }} g</strong>
                            </div>
                            <div class="nutrition-item">
                                <span>🍞 Carbs</span>
                                <strong>{{ nutrition2.carbs }} g</strong>
                            </div>
                            <div class="nutrition-item">
                                <span>🥑 Fat</span>
                                <strong>{{ nutrition2.fat }} g</strong>
                            </div>
                            <div class="nutrition-item">
                                <span>🌾 Fiber</span>
                                <strong>{{ nutrition2.fiber }} g</strong>
                            </div>
                        </div>
                        Protein:
                        {{ nutrition2.protein }} g
                        </p>

                        <p>
                        Carbs:
                        {{ nutrition2.carbs }} g
                        </p>

                        <p>
                        Fat:
                        {{ nutrition2.fat }} g
                        </p>

                        <p>
                        Fiber:
                        {{ nutrition2.fiber }} g
                        </p>

                        <div class="health-score">

                          ⭐ {{ nutrition2.healthy }}

                          <div class="progress mt-2">

                              <div
                                  class="progress-bar bg-success"
                                  style="width:{{ nutrition2.health_score * 10 }}%;">

                                  {{ nutrition2.health_score }}/10

                              </div>

                          </div>

                        </div>

                        <p>
                        Reason:
                        {{ nutrition2.reason }}
                        </p>

                        <h6>Make it Healthier</h6>

                        <ul>
                        {% for tip in nutrition2.healthier_version %}
                            <li>{{ tip }}</li>
                        {% endfor %}
                        </ul>
                      </div>
                    </div>
                    
                  </div>
            </div>

            <div id="loading" style="display:none;" class="col-md-8">
              <div class="loader">
                  <div class="inner one"></div>
                  <div class="inner two"></div>
                  <div class="inner three"></div>
                  <h4>Loading</h4>
                  <h5>Kindly wait for few seconds</h5>
              </div>
            </div>

            <hr>

            <div class="card mt-4">
              <div class="card-body">
                <h5>AI Cooking Assistant</h5>

                <input
                  type="text"
                  id="question"
                  class="form-control"
                  placeholder="Ask about this recipe..."
                >

                <button
                  class="btn btn-primary mt-2"
                  onclick="askQuestion()">
                  Ask
                </button>

                <div
                  id="answer-box"
                  class="mt-3">
                </div>
              </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock home %}